<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

### 01) WAP to print “Hello World”

In [1]:
print('Hello World')

Hello World

### 02) WAP to print your address i) using single print ii) using multiple print

In [4]:
print('khatri fali, motaashpura road, jamnagar')

khatri fali, motaashpura road, jamnagar

In [3]:

print('khatri fali,\nmotaashpura road,\njamnagar')

khatri fali,
motaashpura road,
jamnagar

### 03) WAP to print addition of 2 numbers (without input function)

In [5]:
a, b = 12, 20
sum = a+b
print('sum= ',sum)

sum=  32

### 04) WAP to calculate and print average of 2 numbers (without input function)

In [7]:
a,b = 12, 20
avg = (a+b)/2
print('average=',avg)

average= 16.0

### 05) WAP to add two number entered by user.

In [8]:
a=int(input('entre a:'))
b=int(input('entre b:'))
sum=a+b
print("sum=",sum)

entre a:12
entre b:90
sum= 102

### 06) WAP to calculate simple interest.

In [9]:
p=int(input("entre principal amount"))
r=int(input("entre rate"))
n=int(input("entre number of year"))

i=(p*r*n)/100
print("simple interest:",i)

entre principal amount123
entre rate12
entre number of year2
simple interest: 29.52

### 07) WAP Calculate Area and Circumfrence of Circle

In [11]:
r=int(input('entre redius'))
area=3.14*r*r
circumfrence=2*3.14*r
print("area:",area)

print('circumfrence:',circumfrence)

entre redius12
area: 452.15999999999997
circumfrence: 75.36

### 08) WAP to print Multiplication table of given number without using loops.

In [12]:
n=int(input('entre number:'))
print(n,"*1 =",n*1)
print(n,"*2 =",n*2)
print(n,"*3 =",n*3)
print(n,"*4 =",n*4)
print(n,"*5 =",n*5)
print(n,"*6 =",n*6)
print(n,"*7 =",n*7)
print(n,"*8 =",n*8)
print(n,"*9 =",n*9)
print(n,"*10 =",n*10)

entre number:12
12 *1 = 12
12 *2 = 24
12 *3 = 36
12 *4 = 48
12 *5 = 60
12 *6 = 72
12 *7 = 84
12 *8 = 96
12 *9 = 108
12 *10 = 120

### 09) WAP to calculate Area of Triangle (hint: a = h * b * 0.5)

In [13]:
h=int(input('entre hight:'))
b=int(input('entre base:;'))
a=h*b*0.5
print('area of triangle=',a)

entre hight:12
entre base:;18
area of triangle= 108.0

### 10) WAP to convert degree to Fahrenheit and vice versa.

In [22]:
C=int(input('entre c:'))
F=int(input('entre f:'))
F=((9/5)*C)+32
c=(5/9)*(32*F-32)
print("fahrenheit=",F)
print('degree=',c)

entre c:12
entre f:23
fahrenheit= 53.6
degree= 935.1111111111112

### 11) WAP to calculate total marks and Percentage.

In [23]:
maths=int(input('entre maths mark:'))
MADF=int(input('entre MADF mark:'))
OS=int(input('entre OS mark:'))
DAA=int(input('entre DAA mark:'))
OOP=int(input('entre OOP mark:'))
total=maths+MADF+OS+DAA+OOP
percentage=total/5
print("total=",total)
print("percentage=",percentage)

entre maths mark:89
entre MADF mark:90
entre OS mark:78
entre DAA mark:78
entre OOP mark:90
total= 425
percentage= 85.0

### 12) Compute distance between two points taking input from the user (Pythagorean Theorem).

In [1]:
import math
x=int(input('entre x:'))
x1=int(input('entre x1:'))
y=int(input('entre y:'))
y1=int(input('entre y1:'))
distance=math.sqrt(((x-x1)*(x-x1))+((y-y1)*(y-y1)))
print('distance=',distance)

entre x:12
entre x1:23
entre y:12
entre y1:34
distance= 24.596747752497688

### 13) WAP to convert seconds into hours, minutes & seconds and print in HH:MM:SS
[e.g. 10000 seconds mean 2:46:40 (2 Hours, 46 Minutes, 40Seconds)]

In [1]:
second=int(input('entre second:'))
hour=second//3600
minute=(second-(hour*3600))//60
second=(second-(hour*3600)-(minute*60))
print(hour,'hour',minute,'minute',second,'second')

entre second:10000
2 hour 46 minute 40 second

### 14) WAP to enter distance into kilometer and convert it into meter, feet,inches, and centimeter

In [2]:
km=float(input('entre is a distance in kilometer:'))
meter=1000*km
feet=3281*km
inches=39370*km
cm=100000*km
print('meter:',meter)
print('feet:',feet)
print('inches:',inches)
print('cm:',cm)

entre is a distance in kilometer:12000
meter: 12000000.0
feet: 39372000.0
inches: 472440000.0
cm: 1200000000.0